<h1 class="text-4xl font-bold mb-6">今まで生成された話題</h1>

<div class="flex flex-row flex-wrap justify-around">
  <% @topics.each do |topic| %>
    <div class="w-4/5 lg:w-2/5 rounded-lg overflow-hidden shadow-lg mb-4">
      <div class="px-6 py-4">
        <% if topic.keyword.present? %>
          <div class="font-bold text-xl mb-2">キーワード：<%= topic.keyword %></div>
        <% else %>
          <div class="font-bold text-xl mb-2">キーワード：なし</div>
        <% end %>
      </div>
      <div class="px-6 py-4">
        <ul class="text-left list-decimal px-4">
          <% topic.suggestions.each do |suggestion| %>
            <div class="mt-4">
              <li>
                <%= suggestion.content %>
              </li>
            </div>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>
</div>
